#JSON Configurations
JWT_SECRET=32-or-64-Characters-Long-String

# Stripe Configurations
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET_KEY=

#Database Configurations, used by DB and Flyway for Migrations
SPRING_DATASOURCE_URL=
MYSQLUSER=
MYSQLPASSWORD=

